html, body {
    background-color: #f2f2f2;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

/* Dropdown Menu */

.dropdown {
    width: 8%;
    height: 6%;
    position: relative;
    display: inline-block;
    z-index: 100;
}

.dropbtn {  
    background-color: #7d8178a9;
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px;
    font-family: cabin;
    font-size: 1.8vw;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #efe997;
    padding: 12px 16px;
    font-family: cabin;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(94, 94, 94);
    color: #5f9ea0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: salmon;
}

/* Homepage Navigation */

.main_nav {
    padding: 60px 0px;
}

.main_nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    font-family: cabin;     
    font-size: 1.37vw;
    margin-top: 30px;
}

.main_nav li {
    padding: 0px 80px;
    display: inline-block;
}

.main_nav a {
    text-decoration: none;
    color: rgb(94, 94, 94);
}

.main_nav a:hover {
    color: #5f9ea0;
}

nav .heading {
    color: salmon; 
    font-size: 2.35vw; 
    font-weight: 900;
}

/* Homepage Banner & Content */

.banner {
    background-image: url("../img/yuu-kbsm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 6px solid black;
    border-bottom: 6px solid black;
    filter: blur(2px);
    margin: 0 auto;
    width: 100%;
    height: 48.65vh;
}

/* Page Heads */

.page_head {
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding: 2vh;
    text-align: center;
    z-index: 30;
}

.page_head h1 {
    display: inline-block;
}

div #maphive {
    color: salmon; 
    font-family: cabin; 
    font-size: 2.35vw; 
    font-weight: 900;
}

div #page {
    color: grey; 
    font-family: cabin; 
    font-size: 3vw; 
    font-weight: 900;
    margin-left: 8px;
}

/* Contact Page Diagonal Background */

#container_contact {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url("../img/embelisha.jpg");
    background-size: 10%;
    z-index: 20
}

#triangle-topleft {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 100vw solid #cdd5d6;
    border-right: 100vw solid transparent;
    filter: blur(2px);
    z-index: 20;
}

/* Services Page Diagonal Background */

#container_services {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url("../img/embelishb.jpg");
    background-size: cover;
    filter: blur(2px);
    z-index: 20;
}

#triangle_bottomright {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-right: 100vw solid #eddede;
    border-bottom: 100vw solid transparent;
    transform: skewY(20deg);
    z-index: 20;
}

/* Contact Info Page */

#contact_info {
    position: relative;
    font-family: "patua one";
    width: 60%;
    margin: 0 auto;
    padding-top: 6vh;
    text-align: center;
    font-size: 1.5vw;
    z-index: 30;
}

#contact_info a {
    text-decoration: none; 
    color: #00d18e;
}

#contact_info a:hover {
    color: white;
}

/* Services Info Page */

#services_info {
    position: relative;
    font-family: "patua one";
    width: 40%;
    margin: 0 auto;
    padding-top: 6vh;
    text-align: center;
    font-size: 1.5vw;
    z-index: 30;
}

/* Copyright */

#copyright {
    position: relative;
    bottom: 2px;
    text-align: right;
    font-family: cabin;
    height: 100px;
    font-size: 0.55vw;
    margin-right: 8px;
}

#copyright_contact {
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 30;
    color: silver;
    font-family: cabin;
    font-size: 0.55vw;
}

#copyright_services {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 30;
    color: silver;
    font-family: cabin;
    font-size: 0.55vw;
}

/* Media Queries */

@media only screen and (max-width: 500px) {
    .main_nav ul {
        font-size: 20px;
    }
    nav .heading {
        font-size: 40px;
    }
    .main_nav li {
        display: block;
        padding: 4px;
    }
    div #maphive {
        font-size: 16px;
    }
    div #page {
        font-size: 20px;
    }
    #contact_info {
        font-size: 16px;
    }
    #services_info {
        font-size: 16px;
        width: 60%;
    }
    .dropdown {
        width: 70px;      
    }
    .dropbtn {
        font-size: 16px;
        padding: 0;
    }
    .dropdown-content a {
        font-size: 10px
    }
    #copyright {
        font-size: 4px;
        margin-right: 2px;
    }
    #copyright_contact {
        font-size: 4px;
    }
    #copyright_services {
        font-size: 4px;
    }
    #container_contact {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        opacity: 0.8;
    }
    #triangle-topleft {
        border: none;
    }
    #container_services {
        opacity: 0.8;
    }
    #triangle_bottomright {
        border: none;
    }
}
